<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Blank Box</h3>
  </div>
  <div class="box-body">
    The great content goes here
  </div>
  <!-- /.box-body -->
</div>
